@import url("https://use.typekit.net/pqt3gjo.css");

* {
  padding: 0;
  margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'forma-djr-banner' , Ariel, sans-serif;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: .3rem;
    background-color: black;
  }